<div class="px-4 py-3 flex justify-between items-center">
  <span class="text-sm text-slate-400">Spaces</span>
  <button class="text-slate-400 hover:text-white" (click)="createNewSpace()">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
<ng-container *ngIf="!(isLoading$ | async); else loading">
  <ng-container *ngIf="!(error$ | async); else errorTpl">
    <ul class="py-2">
      <li *ngFor="let space of spaces$ | async" class="flex items-center px-4 py-2 hover:bg-slate-600/30 cursor-pointer" (click)="navigateTo('app/space/' + space._id)">
        <fa-icon class="text-purple-400 mr-4" [icon]="faFolder"></fa-icon>
        {{ space.name }}
      </li>
    </ul>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="py-4 text-center">
    <fa-icon [icon]="faSpinner" [spin]="true" class="text-slate-400"></fa-icon>
  </div>
</ng-template>

<ng-template #errorTpl>
  <div class="py-4 text-center text-red-400 text-sm">
    <p>Error loading spaces. <button class="mt-2 text-sm underline" (click)="loadSpaces()">Please try again.</button></p>
  </div>
</ng-template>