/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

/* Scrollbar styles */
/* For webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Track color */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Scrollbar color */
    border-radius: 10px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Scrollbar color on hover */
}

/* For Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}